[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git
	branch = stable
[submodule ".\\submodules\\stb"]
	path = .\\submodules\\stb
	url = https://github.com/nothings/stb.git
